/*
 * Arquivo CSS para o componente de Login.
 * Este arquivo foi atualizado para posicionar o botão de alternância
 * na parte inferior do formulário, usando flexbox.
 */

body {
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Novas propriedades para a imagem de fundo */
    background-image: url(../assets/fundo6.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.login-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 360px;
    padding: 7rem;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(21, 8, 37, 0.301), 0 0 0px rgba(17, 4, 17, 0.11);
    animation: neon-border 3s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(#7a7a7a07, #6e6e6e1f) padding-box,
    linear-gradient(145deg, transparent 35%, #56587a, #0f648665) border-box;
    border: 2px solid transparent;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    border-radius: 12px;
    /* background: url('../assets/fundoz.png') no-repeat center center; */
}

@keyframes neon-border {
    from {
        border-image: linear-gradient(45deg, #050608, #00026b) 1;
    }
    to {
        border-image: linear-gradient(45deg, #050608, #00ffff) 1;
    }
}

.title {
    color: #ffffffb6;
    text-align: center;
    text-shadow: 0 0 10px #00ffff9a, 0 0 20px #ff00ffa4;
    font-size: 2.5em;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    border: 2px solid hsla(189, 100%, 44%, 0.822);
    border-radius: 9px;
    background: transparent;
    color: #ffffff;
    outline: none;
    box-shadow: 0 0 10px #cc00ff6b;
    transition: box-shadow 0.3s ease;
}

input:focus {
    box-shadow: 0 0 20px #0193b8;
}

.social-login {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    width: 100%;
    font-size: 1.6em;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons img {
    width: 40px;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #00aeff83);
}

.submit-button {
    width: 300px;
    padding: 19px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.9em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #050608, #00566b);
    transition: transform 0.2s ease-in-out;
}

.submit-button:hover {
    transform: scale(1.02);
}

/* Alterações para o botão de alternância */
.toggle-text-container {
    /* Empurra o contêiner para a parte inferior */
    margin-top: auto; 
    padding-top: 20px; /* Adiciona um espaço para separar do botão de Entrar */
    text-align: center; /* Centraliza o texto */
}

.toggle-text {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 0 3px #00ffff00;
}

.toggle-text:hover {
    text-shadow: 0 0 10px #818181, 0 0 20px #79aac7;
}
