body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../assets/login5.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-box {
    width: 360px;
    padding: 90px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(42, 4, 92, 0.842), 0 0 0px rgba(255, 0, 255, 0.5);
    animation: neon-border 3s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@keyframes neon-border {
    from {
        border-image: linear-gradient(45deg, #00ffff, #ff00ff) 1;
    }
    to {
        border-image: linear-gradient(45deg, #ff00ff, #00ffff) 1;
    }
}

.title {
    color: #ffffffb6;
    text-align: center;
    text-shadow: 0 0 10px #00ffff9a, 0 0 20px #ff00ffa4;
    font-size: 2.5em;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    border: 2px solid #2600ff6b;
    border-radius: 9px;
    background: transparent;
    color: #ffffff;
    outline: none;
    box-shadow: 0 0 10px #cc00ff6b;
    transition: box-shadow 0.3s ease;
}

input:focus {
    box-shadow: 0 0 20px #ff00ff;
}

.social-login {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons img {
    width: 40px;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #2600ffee);
}

.submit-button {
    width: 300px;
    padding: 19px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #172183, #5c166d);
    transition: transform 0.2s ease-in-out;
}

.submit-button:hover {
    transform: scale(1.02);
    
}

.toggle-moon-container {
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center; /* ALINHA VERTICALMENTE A LUA E O TEXTO */
    justify-content: flex-start;
    border-radius: 60px;
}

.moon-wrapper {
    display: flex;
    align-items: center; /* Garante que o ícone e o texto fiquem na mesma linha */
    gap: 10px;
    transition: transform 0.5s ease-in-out;
}


.moon-wrapper.left-side {
    transform: translateX(0);
}

.moon-wrapper.right-side {
    transform: translateX(-150px);
}

.moon-icon {
    width: 50px;
    height: 50px;
    
}

.toggle-text {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #00ffff;
    font-weight: bold;
    /* Adicione estas linhas para centralizar o texto */
    text-align: center; /* Garante que o texto esteja centralizado horizontalmente */
    flex-grow: -1; /* Permite que o texto ocupe o espaço restante */
}